<!--/*@thymesVar id="resetToken" type="java.lang.String"*/-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Password Reset Request</title>
</head>
<body>
<p>Hi,</p>

<p>We received a request to reset the password for your Stack Exchange account. If you didn't request a password reset, please ignore this email.</p>

<p>To reset your password, please visit the following link:</p>

<p>To reset your password, please send a request to the <code>/tokens/password-reset</code> endpoint with the following JSON body:</p>

<pre>
    <code>
        {
            "resetPasswordToken": "<span th:text="${resetToken}">[Token]</span>",
            "newPassword": "[Your New Password]"
        }
    </code>
</pre>

<p>Please note that this token is valid for 15 minutes.</p>

<p>Thanks,</p>
<p>The Stack Exchange Team</p>
</body>
</html>
